<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../output.css" rel="stylesheet">
</head>
<div class="w-64 bg-[#473144] text-white h-screen fixed">
    <div class="p-4 font-bold text-2xl border-b border-[#CCB69B]">
        <img src="../images/Designer.png" alt="">
    </div>
    <nav class="mt-2">
        <ul class="[&>li>a]:block [&>li>a]:w-full ">
            <li class="py-2 px-4 hover:bg-purple-700">
                <a href="admin.php"> Panel</a>    
            </li>
            <li class="py-2 px-4 hover:bg-purple-700">
                <a href="recetas.php" > Recetas</a> 
            </li>
            <li class="py-2 px-4 hover:bg-purple-700">
                <a href="pedidos.php">Pedidos</a>
            </li>
            <li class="py-2 px-4 hover:bg-purple-700">
                <a href="inventario.php">Inventario</a>
            </li>
            <li class="py-2 px-4 hover:bg-purple-700">
                <a href="menu.php">Menú</a>
            </li>
            <li class="py-2 px-4 hover:bg-purple-700">
                <a href="reportes.php">Reportes</a>
            </li>
        </ul>
    </nav>
    <div class="flex items-center justify-center w-full p-4 border-t border-[#CCB69B] mt-2">
        <button class="w-full bg-purple-700 py-4 px-4 rounded-md mt-1">Log out</button>
    </div>
</div>